.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        li {
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;

            &.half {
                width: 49%;
                margin-left: 2%;
                float: left;
                clear: none;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        border: 0;
        background-color: #115173;
        height: 50px;
        font-size: 16px;
        color: var(--white);
        padding: 0 20px;
    }
    textarea {
        min-height: 150px;
        padding: 20px;
    }

    .flat-button {
        margin-top: 0;
    }
}

.info-map {
    position: absolute;
    background-color: var(--black);
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: var(--white);
    font-family: "Helvetica ";
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: var(--secondary);
    }
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 53%;
    height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.7s;
    animation-fill-mode: forwards;
}
